{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">

  <title>
    Cafe
  </title>


  <style>
    *{
      font-family: 'Roboto', sans-serif;
    }

    .product-viewtag{
      background-color: red;
      color: #fff;
      font-size: 11px;
      line-height: 1;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 22px;
      margin-left: 17.5rem;
      padding: 7px 10px;
      font-weight: 600;
      min-width: 45px;
    }
  </style>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.css' %}" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- Custom styles for this template -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />

  <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'assets/js/custo.js' %}"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="{% static 'assets/js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

<link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" />
<!-- Paypal Method -->
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>

</head>

<body>
<script> 
  alertify.set('notifier','position', 'bottom-right');
  {% for msg in messages %}
  alertify.success('{{ msg }}');
  {% endfor %} 
</script> 


<div class="hero_area">
  <!-- header section strats -->
  <header class="header_section">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
      <a class="navbar-brand" href=""><span>Giftos</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""></span>
      </button>
      
      {% if request.user.is_authenticated %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  ">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link " href="{% url 'collections' %}">Shops</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="why.html">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Community.html">Community</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">My Account</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'wishlist' %}">Wishlist</a></li>
              <li><a class="dropdown-item" href="{% url 'cart' %}">My cart</a></li>
              <li><a class="dropdown-item" href="{% url 'myorder' %}">My Order</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}"> <i class="fa fa-user" aria-hidden="true"></i> <span>LOGOUT</span></a></li>
            </ul>
          </li>
          <form class="form-inline ">
            <button class="btn nav_search-btn" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
        </ul>
      </div>
    </nav>
  </header>
</div>
<!-- end header section -->

          {% else %}
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'collections' %}">
                  Shops
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="why.html">
                  Why Us
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'wishlist' %}">
                  Wishlist
                </a>
              </li>
          <div class="user_option">
            <a href="{% url 'loginpage' %}">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span>LOGIN</span>
            </a>
            <a href="{% url 'register' %}">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span>REGISTER</span>
            </a>
          </div>
          {% endif %}

    <div class="py-3 bg-bg-dark">
        <div class="container">
            <a class="text-fa-address-book"  href="{% url 'home' %}">Home </a>
            <a class="text-fa-address-book"  href="{% url 'checkout' %}">/checkout </a>
        </div>
    </div>
        
<div class="container">
  <form action="{% url 'placeorder' %}" method="POST">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-7">
      <div class="card shadow ">
          <div class="card-body">
              <h6> Basic Details </h6>
              <hr>
              <div class="row checkoutform">
                  <div class="col-md-6">
                      <label>First Name</label>
                      <input type="text" required value="{{ request.user.first_name }}" class="form-control" name="Fname" placeholder="Enter first name">
                  </div>
                  <div class="col-md-6">
                      <label>Last Name</label>
                      <input type="text" required value="{{ request.user.last_name }}" class="form-control" name="Lname" placeholder="Enter Last name">
                  </div>
                  <div class="col-md-6 mt-2">
                      <label>Email</label>
                      <input type="email" required value="{{ request.user.Email }}" class="form-control" name="Email" placeholder="Enter Email">
                  </div>
                  <div class="col-md-6 mt-2">
                      <label>Contact No.</label>
                      <input type="text" required value="{{ userprofile.Contact }}" class="form-control" name="Contact" placeholder="Enter Phone Number">
                  </div>
                  <div class="col-md-12 mt-2">
                      <label>Address</label>
                      <textarea required class="form-control" name="Address" placeholder="Enter Address">{{ userprofile.Address }}</textarea>
                  </div>
                  <div class="col-md-6 mt-2">
                      <label>Baranggay</label>
                      <input type="text" required value="{{ userprofile.Baranggay }}" class="form-control" name="Baranggay" placeholder="Enter Baranggay">
                  </div>
                  <div class="col-md-6 mt-2">
                      <label>City</label>
                      <input type="text" required value="{{ userprofile.City }}" class="form-control" name="City" placeholder="Enter City">
                  </div>
                  <div class="col-md-6 mt-2">
                      <label>Pin Code</label>
                      <input type="text" required value="{{ userprofile.Pincode }}" class="form-control" name="Pincode" placeholder="Enter Pin Code">
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card shadow">
          <div class="card-body">
              <h6>Order Summary</h6>
              <hr>
              {% if cartitems %}
              <table class="table table-stripeds table-bordereds">
                  <thead>
                      <tr>
                          <th> Product</th>
                          <th> Quantity</th>
                          <th> Price</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for item in cartitems %}
                      <tr>
                          <td> 
                              <img src="{{ item.product.p_image.url }}" height="50px" class="me-2" width="50px">
                              {{ item.product.name }} 
                          </td>
                          <td> {{ item.product_qty}} </td>
                          <td> {{ item.product.s_price|stringformat:'d' }} </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
              <h6 class="fw-bold"> Grand Total
                  <span class="float-end"> $ {{ total_price|stringformat:'d' }} </span>
              </h6>
              <input type="hidden" value="COD" name="payment_mode">
              <div class="mt-3">
                  <button type="submit" class="btn btn-success w-100"> COD | Place Order </button>
                  <button type="button" class="btn btn-primary w-100 mt-2"> Pay with RazorPay </button>
              </div>
              {% else %}
              <h4>Your cart is empty</h4>
              {% endif %}
          </div>
      </div>
  </div>
         

  </div>
</div>


{% endblock content %}