{% load static %} {% block content %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      rel="shortcut icon"
      href="{% static 'assets/images/favicon.png' %}"
      type="image/x-icon"
    />

    <title>Cafe</title>

    <!-- slider stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />

    <!-- bootstrap core css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/bootstrap.css' %}"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'assets/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <!-- javascrip style -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <!-- CSS -->
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"
    />
    <!-- Default theme -->
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"
    />
  </head>

  <body>
 <script> 
  alertify.set('notifier','position', 'bottom-right');
  {% for msg in messages %}
  alertify.success('{{ msg }}');
  {% endfor %} 
</script> 


<div class="hero_area">
  <!-- header section strats -->
  <header class="header_section">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
      <a class="navbar-brand" href=""><span>Giftos</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""></span>
      </button>
      
      {% if request.user.is_authenticated %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  ">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link " href="{% url 'collections' %}">Shops</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="why.html">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Community.html">Community</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">My Account</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'wishlist' %}">Wishlist</a></li>
              <li><a class="dropdown-item" href="{% url 'cart' %}">My cart</a></li>
              <li><a class="dropdown-item" href="{% url 'myorder' %}">My Order</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}"> <i class="fa fa-user" aria-hidden="true"></i> <span>LOGOUT</span></a></li>
            </ul>
          </li>
          <form class="form-inline ">
            <button class="btn nav_search-btn" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
        </ul>
      </div>
    </nav>
  </header>
</div>
<!-- end header section -->

    {% else %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}"
            >Home <span class="sr-only"></span
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'collections' %}"> Shops </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="why.html"> Why Us </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Community.html"> Community </a>
        </li>
        <div class="user_option">
          <a href="{% url 'loginpage' %}">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>LOGIN</span>
          </a>
          <a href="{% url 'register' %}">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>REGISTER</span>
          </a>
        </div>
        {% endif %}

        <div class="py-3 bg-bg-dark">
          <div class="container">
            <a class="text-fa-address-book" href="{% url 'home' %}">Home </a>
            <a class="text-fa-address-book" href="{% url 'myorder' %}"
              >/ My Orders
            </a>
          </div>
        </div>

        <div class="container my-3">
          <div class="row">
            <div class="col-md-12">
              <div class="card shadow">
                <div class="card header">
                  <h2 class="ml-2 mt-2">My Orders</h2>
                </div>

                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Order Date</th>
                        <th>Tracking Number</th>
                        <th>Total Price</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {%for item in orders %}

                      <tr>
                        <td>{{ item.created_at}}</td>
                        <td>{{ item.tracking_no}}</td>
                        <td>{{ item.total_price|stringformat:'d'}}</td>
                        <td>{{ item.status}}</td>
                        <td>
                          <a
                            href="{% url 'orderview'  item.tracking_no %}"
                            class="btn btn-primary"
                            >View</a
                          >
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% endblock content %}
      </ul>
    </div>
  </body>
</html>
